$font-family: 'Roboto', 'Helvetica', 'sans-serif';

$C-main: #2a343c;
$C-mainDark: #202c34;
$C-mainLight: #3c4d59;
$C-white: #ffffff;

$C-blue-cta: #18aae7;
$C-pink-cta: #fa4c7b;
$C-pink-cta-hover: #e1446e;

$Padding: 20px;
